/*
changing from webview to mobile ?
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}
*/

.navbar-nav, .nav-link {
    margin-left: auto;
    color: blueviolet;
}
.navbar-brand{
    color: blueviolet;
}
.search-container{
    text-align: center;
    padding: 30px;

}
#searchInput {
    padding: 10px;
    border-radius: 20px;
    font-size: medium;
    border-color: blueviolet;
}
#searchButton {
    padding: 10px;
    border-radius: 20px;
    border-color: blueviolet;
}

#gifResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

}
#gifResults img{
    width: 200px;
    height: auto;
    border-radius: 5px;
}
