body{
    font-family: "Bitcount Prop Single";
    margin: 20px;
    background-image: url(../Images/5661037d-0a5d-4f2e-837e-e4259c6249ce.jpg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
}
.navbar{
    padding: 0;
}
.navbar-nav, .nav-link {
    margin-left: auto;
    color: violet;
}
.navbar-brand{
    color: violet;
}
.container-fluid{
    background-color: black;
}
.search-container{
    text-align: center;
    padding: 20px;
}
h1 {
   text-align: center;
   padding: 20px;
   color: violet;
}
h2{
    text-align: center;
    font-size: medium;
}
#searchInput, #searchButton {
    padding: 10px;
    border-radius: 20px;
    font-size: medium;
    border-color: blueviolet;
    box-shadow: 0 2px 5px 0;
}
#gifResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
#gifResults img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 5px 2px;
}

